<div class="loop-section">
	<div class="loop-wrap">
		{{#foreach posts}}
		<article class="loop-item global-box-shadow{{#if @first}} is-first{{/if}}{{#if @last}} is-last{{/if}}{{#if feature_image}} is-image{{/if}}">
			<div class="loop-item-wrap">
				<div class="loop-item-elements">
					<a href="{{url}}" class="global-link" aria-label="{{title}}"></a>
					{{#if feature_image}}
					<div class="loop-item-image global-image">
						{{>images/loop_feature_img}}
					</div>
					{{/if}}
					<div class="loop-item-content">
						{{>members/visibility_label}}
						<h2 class="loop-item-title global-title">
						<a href="{{url}}" class="global-underline">{{title}}</a>
						</h2>
						<div class="loop-item-meta global-meta">
							{{#has author="count:1"}}
							{{authors}}
							{{else has author="count:2"}}
							{{authors separator=(t " & ")}}
							{{else has author="count:>2"}}
							{{authors limit="1"}}
							{{t "and others"}}
							{{/has}}
						</div>
						{{^if custom_excerpt}}
						{{#if excerpt}}
						<p class="loop-item-excerpt">
							{{#if feature_image}}
							{{#if @first}}
							{{excerpt words="35"}}...
							{{else}}
							{{excerpt words="15"}}...
							{{/if}}
							{{else}}
							{{excerpt words="55"}}...
							{{/if}}
						</p>
						{{/if}}
						{{else}}
						<p class="loop-item-excerpt">
							{{custom_excerpt}}
						</p>
						{{/if}}
					</div>
				</div>
				{{#if primary_tag}}
				<div class="loop-item-tags global-tags">
					{{#primary_tag}}
					<a href="{{url}}">{{name}}</a>
					{{/primary_tag}}
				</div>
				{{/if}}
			</div>
		</article>
		{{/foreach}}
	</div>
</div>