<div id="pinned" class="pinned-section">
	<div class="pinned-wrap">
	<div class="pinned-item"><iframe src="https://ridewithgps.com/embeds?type=event&eventId=224463&title=Featured%20Routes%3A%20July&description=Get%20out%20there%20and%20ride!&metricUnits=true&distanceMarkers=true&hideSurface=true&defaultShowAll=true" style="width: 1px; min-width: 100%; height: 550px; border: none;" scrolling="no"></iframe>
	</div>
		{{#get "pages" limit="2" filter="featured:true" as |pinned_pages|}}
		{{#if pinned_pages}}
		<div class="pinned-items{{#if @site.cover_image}} is-cover{{/if}}">
			{{#foreach pages}}
			<div class="pinned-item">
				<a href="{{url}}" class="global-link" aria-label="pinned {{title}}"></a>
				{{#if feature_image}}
				<div class="pinned-image global-image">
					{{>images/loop_feature_img}}
				</div>
				{{/if}}
				<div class="pinned-content">
					<h3 class="pinned-title">{{title}}</h3>
				</div>
			</div>
			{{/foreach}}
		</div>
		{{/if}}
		{{/get}}
		{{#get "posts" limit="4" filter="featured:true" include="authors" as |pinned_posts|}}
		{{#if pinned_posts}}
		<div class="pinned-items{{#if @site.cover_image}} is-cover{{/if}}">
			{{#foreach posts}}
			<div class="pinned-item">
				<a href="{{url}}" class="global-link" aria-label="pinned {{title}}"></a>
				{{#if feature_image}}
				<div class="pinned-image global-image">
					{{>images/loop_feature_img}}
				</div>
				{{/if}}
				<div class="pinned-content">
					<div class="pinned-meta global-meta">
						{{#has author="count:1"}}
						{{authors}}
						{{else has author="count:2"}}
						{{authors separator=(t " & ")}}
						{{else has author="count:>2"}}
						{{authors limit="1"}}
						{{t "and others"}}
						{{/has}}
					</div>
					<h3 class="pinned-title">{{title}}</h3>
					{{^if feature_image}}
					{{^if custom_excerpt}}
					{{#if excerpt}}
					<p class="special-item-excerpt loop-item-excerpt">
						{{excerpt words="25"}}...
					</p>
					{{/if}}
					{{else}}
					<p class="special-item-excerpt loop-item-excerpt">
						{{custom_excerpt}}
					</p>
					{{/if}}
					{{/if}}
				</div>
			</div>
			{{/foreach}}
		</div>
		{{/if}}
		{{/get}}
	</div>
	{{#if @site.cover_image}}
	<div class="pinned-cover global-image">
		{{>images/site_cover_img}}
	</div>
	{{/if}}
</div>