{{^is "post,page"}}
<div id="widgets" class="widget-section">
	<div class="widget-wrap">
		{{#if @custom.show_authors_widget}}
		<div class="widget-authors">
			<div class="global-heading">
				<h3>{{t "Meet our top authors"}}</h3>
				{{#if @custom.authors_widget_url_slug}}
				<a href="{{@site.url}}{{@custom.authors_widget_url_slug}}">{{t "See all authors"}}{{>icons/site/arrow_right}}</a>
				{{/if}}
			</div>
			{{#get "authors" limit="4" include="count.posts" order="count.posts desc"}}
			<div class="widget-content authors">
				{{#foreach authors}}
				{{#if count.posts}}
				<a href="{{url}}">
					{{#if profile_image}}
					<div class="author-image global-image">
						{{>images/author_profile_img}}
					</div>
					{{else if cover_image}}
					<div class="author-image global-image">
						{{>images/author_cover_img}}
					</div>
					{{/if}}
					<h5 class="author-name">{{name}}</h5>
				</a>
				{{/if}}
				{{/foreach}}
			</div>
			{{/get}}
		</div>
		{{/if}}
		<div id="widget-tags" class="widget-tags">
			<div class="global-heading">
				<h3>{{t "Explore our top tags"}}</h3>
				{{#if @custom.tags_widget_url_slug}}
				<a href="{{@site.url}}{{@custom.tags_widget_url_slug}}">{{t "See all tags"}}{{>icons/site/arrow_right}}</a>
				{{/if}}
			</div>
			{{#get "tags" limit="20" filter="visibility:public" include="count.posts" order="count.posts desc" as |tags_widget|}}
			{{#if tags_widget}}
			<div id="widget-content" class="widget-content global-tags tags">
				{{tags separator=""}}
			</div>
			{{/if}}
			{{/get}}
		</div>
	</div>
</div>
{{/is}}