{{!< default}}
{{#post}}
<article class="post-section">
	<div class="post-header{{#if feature_image}} is-image{{/if}}">
		{{#if feature_image}}
		<div class="post-image global-image">
			{{>images/post_feature_img}}
			{{#if feature_image_caption}}<span class="post-image-caption">{{feature_image_caption}}</span>{{/if}}
		</div>
		{{/if}}
		<div class="post-title-wrap{{#if feature_image}} is-image{{/if}}">
			<div class="post-title-content">
				{{#if tags}}
				<div class="post-tags global-tags">{{tags separator=""}}</div>
				{{/if}}
				<h1 class="post-title global-title">{{title}}</h1>
				{{#if custom_excerpt}}
				<p class="post-excerpt">
					{{custom_excerpt}}
				</p>
				{{/if}}
			</div>
		</div>
	</div>
	<div class="post-content{{^if access}} global-no-access{{/if}}">
		{{#if access}}
		{{content}}
		{{else}}
		{{#if html}}
		<div class="members-teaser">
			{{{html}}}
		</div>
		{{/if}}
		{{>members/cta}}
		{{/if}}
	</div>
</article>
{{/post}}